*{
    /* border: 1px solid red; */
}
.TheBgImage{
    background-image: url('./assets/herobg10.jpg');
    /* background-image: url('./assets/herobg5.jpg'); */
    background-position: center;
    background-size: cover;
}
/* 897 */
@media screen and (max-width: 897px) {
    .HeroSection{
        text-align: center;
        width: 100%;
    }
    .TheBgImage{
        display: none;
    }
    .TheLocations{
        justify-content: center;
    }
    .TheLocations > *{
        width: 100%;
    }
    
  }
@media screen and (max-width:860px) {
    .TheMainLogo{
        display: none;
    }
}
.HerSectionForAbout{
    background-image: url('./assets/AboutSection2.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 200px 20px black;
}
.bgDarkColor{
    background-color: rgba(0, 0, 0, 0.342);
}
.AboutrtxImage{
    background-image: url('./assets/rtximage.jpg');
    background-size: cover;
    padding: 100px;
}
.TheCardsImage{
    background-image: url('./assets/AboutUsImage1.jpg');
    background-size: cover;
}
@media screen and (max-width: 706px) {
    .AboutrtxImage{
        display: none;
    }
    .TheCompuTextPart{
        width: 90%;
    }
  }
  @media screen and (max-width: 951px) {
    .TheCardsImage{
        display: none;
    }
    .TheCardsBody{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 700px) {
    .TheCardsBody {
        display: flex;
        flex-direction: column;
    }
  }
  .imgNum1{
    background-image: url('./assets/intel1.png');
  }
  .hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.hr-with-text::before,
.hr-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000; /* لون الخط */
    margin: 0 10px;
}

.hr-with-text span {
    white-space: nowrap;
    font-weight: bold;
    color: #555;
}
.TheInputConfig:focus{
    /* border: black; */
}